<!--<profile-photo></profile-photo>-->
<!--&lt;!&ndash; Using the type selector &ndash;&gt;-->
<!--<button>Upload a new profile photo</button>-->

<!--<button yt-upload></button>-->
<!--&lt;!&ndash; Using the attribute selector &ndash;&gt;-->

<!--<ul>-->
<!--  <li class="menu-item"></li>-->
<!--  &lt;!&ndash; Using the class selector &ndash;&gt;-->
<!--</ul>-->

<!--<button type="reset"></button>-->
<!--&lt;!&ndash; Using the combined selector &ndash;&gt;-->

<!--<div dropzone></div>-->
<!--&lt;!&ndash; Will match &ndash;&gt;-->
<!--<textarea dropzone></textarea>-->
<!--&lt;!&ndash; Will NOT match due to :not &ndash;&gt;-->


<!--<div>-->
<!--  <app-todo-list></app-todo-list>-->
<!--</div>-->


<!-- app.component.html -->
<app-dashboard>
  <!-- Projected widget, controlled by ContentChild and ContentChildren in DashboardComponent -->
  <app-widget title="Projected Analytics"></app-widget>
</app-dashboard>
