<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- Name Input -->
  <label>
    Name:
    <input type="text" name="name" [(ngModel)]="user.name" required />
  </label>
  <div *ngIf="form.controls['name']?.invalid && form.controls['name']?.touched">
    Name is required.
  </div>

  <!-- Email Input -->
  <label>
    Email:
    <input type="email" name="email" [(ngModel)]="user.email" required email />
  </label>
  <div
    *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched"
  >
    <div *ngIf="form.controls['email']?.errors?.['required']">
      Email is required.
    </div>
    <div *ngIf="form.controls['email']?.errors?.['email']">
      Invalid email format.
    </div>
  </div>

  <!-- Password Input -->
  <label>
    Password:
    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      required
      minlength="6"
    />
  </label>
  <div
    *ngIf="
      form.controls['password']?.invalid && form.controls['password']?.touched
    "
  >
    <div *ngIf="form.controls['password']?.errors?.['required']">
      Password is required.
    </div>
    <div *ngIf="form.controls['password']?.errors?.['minlength']">
      Password must be at least 6 characters long.
    </div>
  </div>

  <label>
    Name:
    <input type="text" name="name" [(ngModel)]="user.name" required />
  </label>

  <!-- Hobbies Section -->
  <div *ngFor="let hobby of user.hobbies; let i = index">
    <label>
      Hobby {{ i + 1 }}:
      <input
        type="text"
        [(ngModel)]="user.hobbies[i]"
        name="hobby{{ i }}"
        required
      />
      <button type="button" (click)="removeHobby(i)">Remove</button>
    </label>
  </div>
  <button type="button" (click)="addHobby()">Add Hobby</button>

  <!-- Submit Button -->
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
